<h1>Detail Page</h1>

<h2><%= @snack.name %></h2>

<% if @snack.retailer %>
    <div>Made by <%= link_to @snack.retailer.name, retailer_path(@snack.retailer) %></div>
<% end %>

<h3>Calories: <%= @snack.calories %></h3>
<h3>Deliciousness: <%= @snack.deliciousness %></h3>

<%= form_tag snack_path(@snack), method: "DELETE" do %>
    <%= submit_tag "Destroy this terrible snack" %>
<% end %>


<div>
    <%= link_to "Edit this snack", edit_snack_path(@snack) %>
</div>

<%= link_to "Snacks Index Page", snacks_path %>